---
pagination:
  data: services
  size: 1
  alias: service
permalink: "/services/{{ service.slug }}/"
layout: layouts/service.njk
eleventyComputed:
  title: "{{ service.title | safe }}"
  description: "{{ service.heroLede | safe }}"
---
